

body {
    color: #d6eaff;
    background: #202125;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
body>.container {
    position: relative;
    margin: auto;
    resize: horizontal;
    overflow: hidden;
    width: 96vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
body>.container>.wrapper {
    position: relative;
    border: 1px solid rgba( 255,255,255,0.1 );
    margin: 2px;
}
body>.container>.wrapper:after,
body>.container>.wrapper:before {
    content:"";
    width: 1px;
    height: 100%;
    background: rgba(255, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    top: 0;
}
body>.container>.wrapper:before {
    width: 100%;
    height: 1px;
    left: 0;
    top: 50%;
}